name: Generate Snake

on:
  # Roda todo dia à meia-noite
  schedule:
    - cron: "0 0 * * *" 
  
  # Permite rodar manualmente na aba Actions
  workflow_dispatch:
  
  # Roda sempre que você der push na main
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Generate the snake files in './dist/'
        uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
            # PALETA RETRÔ (GAME BOY VERDE)
            # Fundo claro, pontos verdes médios, cobra verde escura
            dist/github-contribution-grid-snake.gif?color_snake=#0f380f&color_dots=#9bbc0f,#8bac0f,#306230,#0f380f

      - name: Push new files to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}