name: Generate Snake

on:
  # Roda automaticamente a cada 24 horas
  schedule:
    - cron: "0 0 * * *"
  # Permite rodar manualmente na aba "Actions"
  workflow_dispatch:
  # Roda a cada push na branch main
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Generate the snake files in './dist/'
        uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg?palette=github-light
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
            # COBRINHA ESTILO NEON DRACULA VVV
            dist/github-contribution-grid-snake.gif?color_snake=#ff79c6&color_dots=#282a36,#44475a,#6272a4,#bd93f9,#8be9fd

      - name: Push new files to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}